{% extends "base.html" %}

{% block content %}


<h5>This site is a clinical serch tool initally made for pharmacists to be able to serach for resources.</h5>
<br>
<h5>The idea is that you are are able to first search for an internet resource</h5>
<br>
<h5>If you cannot find it, you can look at the master list to see if it is under the specified dicipline or category</h5>
<br>
<h5>If you can find the resource, but not using your serach terms, you can edit the search terms by clicking edit.</h5>
<br>
<h5>If you cannot find your resource, you can "add a reource" and fill in the appropriate form.</h5>
{% endblock %}