{% extends "base.html" %}

{% block content %}
<nav>
<div class="nav-wrapper purple purple darken-2">
    <form class="search-bar">
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
    </form>
        </div>
</nav>
<h5>This site is a clinical serch tool initally made for pharmaists to be able to serach for resources.</h5>
<br>
<h5>The idea is that you are are able to first search for an internet resource</h5>
<br>
<h5>If you cannot find it, you can look at the master list to see if it is under the specified dicipline or category</h5>
<br>
<h5>If you can find the resource, but not using your serach terms, you can edit the search terms by clicking edit. Note you must log in first.</h5>
<br>
<h5>If you cannot find your resource, you can "create" a reource and fill in the appropriate form.</h5>
{% endblock %}