{% extends "base.html" %} {% block content %}

<h1>Add a catgeory</h1>
<div class="row">
    <form action="{{url_for('add_category')}}" class="col s12" method="post">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">Poll</i> <input class="validate" id="resource_category" name="resource_category" type="text"> <label>Category name</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect #e040fb purple accent-2" name="action" type="submit">Add category <i class="material-icons right">playlist_add</i></button>
        </div>
    </form>
</div>

{% endblock %}