{% extends "base.html" %} {% block content %}

<br>
<h1>Edit the catgeory</h1>
<div class="row">
<form action="{{ url_for('update_category', category_id=category._id)}}" method="POST" class="col s12">
<div class="row">
<div class="input-field col s12">
<i class="material-icons prefix">Poll</i>
<input id="resource_category" name="resource_category" type="text" class="validate" 
value="{category.resource_category}}">
<label>Category name</label>
</div>
</div>
    <div class="row">
    <button class="btn waves-effect #e040fb purple accent-2" type="submit" name="action">Edit category
    <i class="material-icons right">send</i>
    </button>
    </div>
</form>
</div>

{% endblock %}