{% extends "base.html" %}

{% block content %}

<h3>Resource list</h3>

    {% if resources|length > 0 %}
<ul class="collapsible">
        {% for resource in resources %}
<li>
    <div class="collapsible-header purple darken-2">
    <div class="col s3">
    <i class="material-icons">arrow_drop_down</i>
    </div>
    <strong>{{resource.resource_category}}</strong>
    </div>
    <div class="collapsible-body">
    <div>
    <p>{{resource.resource_name}}</p>
    <a href="{{resource.resource_link}}" target="_blank" id="link"><b>{{resource.resource_link}}</b></a>
    <p>{{resource.resource_description}}</p>
    <p>Search terms: {{resource.searchterms}}</p>
    <p>Resource updated on {{resource.resource_updated}}</p>
    {% if session.user %}
        <a href="{{url_for('editresource', resource_id=resource._id)}}" class="waves-effect #e040fb purple accent-2 btn btn small"><i class="material-icons left">edit</i>Edit resource</a>
        <a href="{{url_for('delete_resource', resource_id=resource._id)}}" class="waves-effect #e040fb purple accent-2 btn btn small"><i class="material-icons left">delete_forever</i>Delete resource</a>
    {% else %}
        <h5 class="red"><b><a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">Register</a> to Edit or Delete</b></h5>
    {% endif %}
    </div>
</li>
        {% endfor %}
</ul>
    {% else %}
<h3 class="red"><a href="{{url_for('resourcelist')}}"> <b>No results, click to see all resources</b></h3>
    {% endif %}

{% endblock %}