{% extends "base.html" %}

{% block content %}
<nav>
<div class="nav-wrapper purple darken-2">
    <form class="search-bar">
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
    </form>
        </div>
</nav>
  <ul class="collapsible">
    <li>
    
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{% for resource in resource %}{{resource.resource_name}}</div>
      <div class="collapsible-body">
        <p>{{resource.resource_link}}</p>
        <p>{{resource.resource_description}}</p>
        <p>{{resource.resource_updated}}</p>
      </div>
      {% endfor %}
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body">
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body">
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </li>
  </ul>

{% endblock %}